export(calc_linex_a)
export(convert.HDS.to.mcmc)
export(dens.plot)
export(generate_inits)
export(generate_inits_misID)
export(get_mod_matrix)
export(hierarchical_DS)
export(linear_adj)
export(log_lambda_gradient)
export(log_lambda_log_likelihood)
export(mcmc_ds)
export(plot_obs_pred)
export(probit.fct)
export(rrw)
export(simulate_data)
export(square_adj)
export(stack_data)
export(summary_N)
export(switch_pdf)
export(switch_sample)
export(switch_sample_prior)
import(Matrix)
S3method(table,mcmc)
